<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Movie recommender</title>
</head>
<body>
    <h1>Don't know what to watch tonight?</h1>
   
    <form actions="/" method="POST">
        <h2>Give us the name of a movie you like</h2>
        <div class="form-field">
            <input class="user-query" type="text" name="query" placeholder="e.g. Shaun of the dead">
            <button type="submit" href="/">Gimme movies!</button>
        </div>
    </form>
   
    {% if info %}
    <div class="output">
        <br>
        <p>{{ info }}</p>      
        {% if output %}
            {% for movie in output %}
                <br>
                <p>{{ movie }}</p>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>{{ error }}<p>
    </div>
    {% endif %}
    
</body>
</html>